---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-misc-non-private-member-variables-in-classes"
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none


